.wrapper {
  margin-left: 30px;
  margin-top: 20px;
}

.title {
  color: white;
  font-size: 60px;
  font-family: 'IBM Plex Mono', monospace;
  height: 100px;
}

.search-field-wrapper {
  height: 50px;
}

.sort-filter-wrapper {
  height: 60px;
}

.results-wrapper {
  margin-bottom: 50px;
}

.mobile-results-page-title {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  height: 9vh;
  font-size: 3vh;
}

.mobile-search-field-wrapper {
  height: 6vh;
}
