.title {
  color: white;
  font-size: 4.2vw;
  height: 6vw;
  font-family: 'Chela One', cursive;
}

.mobile-title {
  color: white;
  font-size: 5vh;
  height: 8vh;
  font-family: 'Chela One', cursive;
}
